/* Reset margins and paddings */
* {
    margin: 0;
    padding: 0;
}

/* Global styles */
html {
    background-color: white;
}

body {
    display: grid;
    grid-template-rows: auto auto auto auto; /* 4 rows sized automatically */
    grid-template-columns: 1fr; /* Single column that takes up full width */
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 98%;
    max-width: 960px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

/* Link hover and focus */
a:focus, a:hover {
    font-style: italic;
}

/* Header Styles */
header {
    grid-area: header;
    padding: 1.5em 0 2em 0;
    height: 80px; /* Set height to match the logo size */
    border-bottom: 3px solid #931420;
    background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

header h2 {
    font-size: 175%;
    color: #800000;
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

header img {
    float: left;
    padding: 0 3.75%;
}

.shadow {
    text-shadow: 2px 2px 2px #800000;
}

/* Navigation Menu Styles */
#nav_menu {
    grid-area: nav;
}

#nav_menu ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
    align-items: center; /* Vertically center the items */
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}

#nav_menu a.current {
    color: yellow;
}

/* Section Styles */
section {
    grid-column: 1 / 2; /* First column */
    grid-row: 1; /* First row */
    padding: 0 0 20px 0;
}

section h1 {
    font-size: 150%;
    padding: .5em 0 .25em 0;
    margin: 0;
}

section h2 {
    color: #800000;
    font-size: 130%;
    padding: .5em 0 .25em 0;
}

section p {
    padding-bottom: .5em;
}

section blockquote {
    padding: 0 2em;
    font-style: italic;
}

section ul {
    padding: 0 0 .25em 1.25em;
    list-style-type: circle;
}

section li {
    padding-bottom: .35em;
}

/* Article Styles */
article {
    padding: .5em 0;
    border-top: 2px solid #800000;
    border-bottom: 2px solid #800000;
}

article h2 {
    padding-top: 0;
}

article h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

article img {
    float: right;
    max-width: 40%;
    min-width: 150px;
    margin: .5em 0 1em 1em;
    border: 1px solid black;
}

/* Aside Styles */
aside {
    grid-column: 2 / 3; /* Second column */
    grid-row: 1; /* First row */
    padding: 0 0 20px 2.5%;
}

aside h2 {
    color: #800000;
    font-size: 130%;
    padding: .5em 0 .25em 0;
}

aside h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

aside img {
    padding-bottom: 1em;
}

/* Footer Styles */
footer {
    grid-area: footer;
    background-color: #931420;
}

footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
}

/* Mobile Navigation Styles */
#mobile_menu {
    display: none;
}

@media only screen and (max-width: 734px) {
    section h1 {
        font-size: 125%;
    }

    section h2, aside h2 {
        font-size: 110%;
    }

    aside h3 a {
        font-size: 85%;
    }
}

/* Media Query for smaller screens (648px or less) */
@media only screen and (max-width: 648px) {
    header {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-gap: 0.5em;
        padding: 0.5em 0; /* Adjust padding based on new grid height */
    }

    #mobile_menu {
        grid-area: nav;
    }

    #nav_menu {
        display: none; /* Hide original nav */
    }

    #mobile_menu {
        display: block;
    }

    main {
        grid-template-columns: 1fr; /* One column layout */
        grid-template-rows: auto auto;
    }

    section {
        grid-column: 1;
    }

    aside {
        grid-column: 1;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}

/* Adjustments for very small screens (414px or less) */
@media only screen and (max-width: 414px) {
    body {
        font-size: 90%;
    }
}
